.ul-details-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.courses-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.failure-view-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.retry-button {
  background-color: #4656a1;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-family: 'Roboto';
  padding: 10px 30px 10px 30px;
}

.failure-heading {
  color: #475569;
  font-family: 'Roboto';
}

.failure-description {
  color: #64748b;
  font-family: 'Roboto';
}
